<footer class="section" id="contact">
  <div class="container">
    <h3 class="is-size-3 has-text-weight-semibold mb-4">Contact information</h3>
    <p class="is-size-5">Major Milestones BV</p>
    <p class="is-size-6 mb-4">Houten, the Netherlands</p>
    <div class="columns">
      <div class="column is-one-fifth-desktop">
        <ul>
          <li><b>BTW</b> NL850238705b01</li>
          <li><b>KvK</b> 51951312</li>
        </ul>
      </div>
      <div class="column is-one-quarter-desktop">
        <ul>
          <li><b>Phone:</b> 030 8007280</li>
          <li>
            <b>Email: </b
            ><a href="mailto:roel.peels@majormilestones.nl"
              >roel.peels@majormilestones.nl</a
            >
          </li>
          <li>
            <b>Email: </b
            ><a href="mailto:finance@majormilestones.nl"
              >finance@majormilestones.nl</a
            >
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="has-text-centered">
      © Copyright <span id="copyright-year"></span>, Major Milestones BV<br />
      All Rights Reserved
    </p>
  </div>
</footer>
