<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Primary Meta Tags-->
    <title>Major Milestones — <%- title %></title>
    <meta name="title" content="Major Milestones — Lean-Agile transformation services">
    <meta name="description" content="Major Milestones assists Enterprises with a diverse set of Lean-Agile Transformation services. I am specialized in building next generation teams that optimise all links in your operations related value stream chain."><!-- Open Graph / Facebook-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://majormilestones.nl/">
    <meta property="og:title" content="Major Milestones — Lean-Agile transformation services">
    <meta property="og:description" content="Major Milestones assists Enterprises with a diverse set of Lean-Agile Transformation services. I am specialized in building next generation teams that optimise all links in your operations related value stream chain.">
    <meta property="og:image" content="https://majormilestones.nl/images/intro-bg.jpg"><!-- Twitter-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://majormilestones.nl/">
    <meta property="twitter:title" content="Major Milestones — Lean-Agile transformation services">
    <meta property="twitter:description" content="Major Milestones assists Enterprises with a diverse set of Lean-Agile Transformation services. I am specialized in building next generation teams that optimise all links in your operations related value stream chain.">
    <meta property="twitter:image" content="https://majormilestones.nl/images/intro-bg.jpg">
    <link rel="stylesheet" href="/stylesheets/majormilestones.css">
</head>