<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  
<%- include('layouts/header'); -%>

<section class="hero is-black is-medium" id="home">
  <div class="hero-head">
    <nav class="navbar is-fixed-top">
      <div class="container">
        <div class="navbar-brand"><a class="navbar-item out" href="/"> Major Milestones B.V.</a><span
            class="navbar-burger burger" data-target="navbarMenuHeroA"><span></span><span></span><span></span></span>
        </div>
        <div class="navbar-menu" id="navbarMenuHeroA">
          <div class="navbar-end">
              <a class="navbar-item out" href="/"> Homepage </a>  
          </div>
        </div>
      </div>
    </nav>
  </div>
  </section>

<section class="section" id="course">
  <div class="container">
    <div class="text-intro-section">
      <div class="columns is-flex-direction-column">
        <div class="column">
            <h3 class="is-size-3-tablet is-size-4-mobile has-text-weight-semibold has-text-left mb-4">1. Share minimal information to get in touch</h3>
            <a href="javascript:void(null)" class="oo-btn light">Fill with OnlyOnce</a>
        </div>
        <div class="column">
            <h3 class="is-size-3-tablet is-size-4-mobile has-text-weight-semibold has-text-left mb-4">2. Register as an interimmanager/candidate</h3>
            <a href="javascript:void(null)" class="oo-btn light">Fill with OnlyOnce</a>
        </div>
        <div class="column">
            <h3 class="is-size-3-tablet is-size-4-mobile has-text-weight-semibold has-text-left mb-4">3. Share full business card</h3>
            <a href="javascript:void(null)" class="oo-btn light">Fill with OnlyOnce</a>
        </div>
        <div class="column">
            <h3 class="is-size-3-tablet is-size-4-mobile has-text-weight-semibold has-text-left mb-4">4. Share contractual data</h3>
            <a href="javascript:void(null)" class="oo-btn light">Fill with OnlyOnce</a>
        </div>
      </div>
    </div>
    </div>
</section>


<%- include('layouts/footer'); -%>
</body>

<script src="/javascripts/bundle.js"></script>
<script async defer src="https://buttons.onlyonce.com/script.js"></script>
</html>
