extends layout

block content
  section#error
        .container
          h3.is-size-2.has-text-weight-semibold.mb-4= message
          h2.is-size-3.has-text-weight-slim.mb-4= error.status
          pre #{error.stack}

