<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  
<%- include('layouts/header'); -%>

<section class="hero is-black is-medium" id="home">
<div class="hero-head">
  <nav class="navbar is-fixed-top">
    <div class="container">
      <div class="navbar-brand"><a class="navbar-item out" href="/"> Major Milestones B.V.</a><span
          class="navbar-burger burger" data-target="navbarMenuHeroA"><span></span><span></span><span></span></span>
      </div>
      <div class="navbar-menu" id="navbarMenuHeroA">
        <div class="navbar-end">
            <a class="navbar-item" href="#home"> Home </a>
            <a class="navbar-item" href="#about"> About </a>
            <a class="navbar-item" href="#services"> Services </a>
            <a class="navbar-item" href="#testimonial"> Testimonials </a>
            <a class="navbar-item" href="#articles"> Publications </a>
            <a class="navbar-item" href="#contact"> Contact</a>
            <a class="navbar-item out" href="/register"> Registration </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-shadow">Lean-Agile transformation services</h1>
      <h2 class="subtitle mt-4">Major Milestones assists Enterprises with a diverse set of
        Lean-Agile Transformation services.<br />I am specialized in
        building next generation teams that optimise all links in your
        operations related value stream chain.</h2>
    </div>
  </div>
</div>
</section>

<section class="section" id="about">
  <div class="container">
    <div class="column">
      <div class="text-intro-section">
        <h5 class="is-small is-uppercase hashtag"># about me</h5>
        <h3
          class="is-size-1-tablet is-size-3-mobile has-text-weight-semibold has-text-left mb-4"
        >
          Who am I?
        </h3>
      </div>
    </div>
    <div class="columns">
      <div class="column is-two-thirds-desktop">
        <p class="is-size-4-tablet mb-4">
          I am an all-round seasoned entrepreneur, interim manager and life
          coach with 41 completed assignments of which seven permanent positions
          and builds over 35 years of experience.
        </p>
        <p class="is-size-5-tablet mb-4">
          Originally graduated in Mechanical Engineering and also Business
          Economics, later complemented by a Master in Change Management at the
          Erasmus University in Rotterdam, as well as a variety of psychology
          courses (NLP, Group Dynamic Processes, etc).
        </p>
        <p class="is-size-5-tablet">
          Founder and CEO of two disruptive online startups, specialized in
          Software Development, Lean Startups and also owner of multiple SAFe
          certifications. Authorized SAFe trainer.
        </p>
        <div class="portfolio-icons">
          <img class="icon" src="/images/SAFe/spc.png" /><img
            class="icon"
            src="/images/SAFe/rte.png"
          /><img class="icon" src="/images/SAFe/sa.png" /><img
            class="icon"
            src="/images/SAFe/pomp.png"
          /><img class="icon" src="/images/SAFe/lpm.png" /><img
            class="icon"
            src="/images/SAFe/sdp.png"
          /><img class="icon" src="/images/SAFe/msp.png" />
        </div>
      </div>
      <div class="column has-text-centered">
        <img
          class="image is-pulled-right about is-hidden-touch"
          src="/images/AA_MGL4004def.png"
        />
      </div>
    </div>
  </div>
</section>
<section class="section" id="services">
  <div class="container">
    <div class="text-intro-section">
      <h5 class="is-small is-uppercase hashtag"># services</h5>
      <h3
        class="is-size-1-tablet is-size-3-mobile has-text-weight-semibold has-text-left mb-4"
      >
        Services that I offer
      </h3>
    </div>
    <div class="columns">
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content has-text-centered">
            <i class="far fa-building"></i>
            <h5 class="is-capitalized">POC/MVP Lean Startup development</h5>
          </div>
        </div>
      </div>
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content has-text-centered">
            <i class="fas fa-chalkboard-teacher"></i>
            <h5 class="is-capitalized">SAFe Framework Implementation (SPC)</h5>
          </div>
        </div>
      </div>
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content has-text-centered">
            <i class="fas fa-tasks"></i>
            <h5>Facilitating, coaching and executing ART’s (RTE)</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content has-text-centered">
            <i class="fas fa-chalkboard-teacher"></i>
            <h5>Lean Portfolio Management (LPM)</h5>
          </div>
        </div>
      </div>
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content has-text-centered">
            <i class="fas fa-chalkboard-teacher"></i>
            <h5>DevOps implementations (SDP)</h5>
          </div>
        </div>
      </div>
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content has-text-centered">
            <i class="fas fa-chalkboard-teacher"></i>
            <h5>Agile Coaching</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content has-text-centered">
            <i class="far fa-chart-bar"></i>
            <h5>Metrics & Auditing</h5>
          </div>
        </div>
      </div>
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content has-text-centered">
            <i class="fas fa-book"></i>
            <h5>SAFe training</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="testimonial">
  <div class="container">
    <div class="text-intro-section">
      <h5 class="is-small is-uppercase hashtag"># people</h5>
      <h3
        class="is-size-1-tablet is-size-3-mobile has-text-weight-semibold has-text-left mb-4"
      >
        Happy customers
      </h3>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <p class="quote">
          “Jij nogmaals dank voor de twee inspirerende dagen en de goede uitleg”
        </p>
        <blockquote>- Tessa K</blockquote>
      </div>
      <div class="column has-text-centered">
        <p class="quote">
          “Wow, wat heb jij enorm uitvoerig mijn vragen beantwoord. Enorm
          bedankt daarvoor”
        </p>
        <blockquote>- Arnoud V</blockquote>
      </div>
      <div class="column has-text-centered">
        <p class="quote">
          “Roel is highly inspirational with his enthusiastic personality”
        </p>
        <blockquote>- Yosha H</blockquote>
      </div>
      <div class="column has-text-centered">
        <p class="quote">
          “Roel is also really helping and putting effort in his students to
          pass the exam”
        </p>
        <blockquote>- Martine Z</blockquote>
      </div>
    </div>
  </div>
</section>
<section class="section" id="articles">
  <div class="container">
    <div class="text-intro-section">
      <h5 class="is-small is-uppercase hashtag"># publishes</h5>
      <h3
        class="is-size-1-tablet is-size-3-mobile has-text-weight-semibold has-text-left mb-4"
      >
        Articles that I wrote
      </h3>
    </div>
    <div class="columns">
      <div class="column">
        <a
          href="https://www.linkedin.com/pulse/agile-leadership-wat-dat-eigenlijk-roel-peels/"
        >
          <h5 class="is-size-4 has-text-centered-mobile">
            Agile Leadership – Wat is dat eigenlijk?
          </h5></a
        >
      </div>
      <div class="column has-text-centered">
        <p>3 Oct 2020</p>
        <p>Agile Leadership</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a
          href="https://www.linkedin.com/pulse/safe50-strategic-themes-okrs-roel-peels/"
        >
          <h5 class="is-size-4 has-text-centered-mobile">
            SAFe®5.0: Strategic Themes & OKR's
          </h5></a
        >
      </div>
      <div class="column has-text-centered">
        <p>26 Nov 2019</p>
        <p>How to define OKR’s</p>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered-mobile">
        <a
          href="https://www.linkedin.com/pulse/software-ontwikkelingscontracten-bespaar-geld-en-vermijdt-roel-peels/"
        >
          <h5 class="is-size-4">
            Software Ontwikkelingscontracten: bespaar geld en vermijd
            discussies.
          </h5></a
        >
      </div>
      <div class="column has-text-centered">
        <p>28 April 2018</p>
        <p>Agile Software Development contracts</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a
          href="https://www.linkedin.com/pulse/voor-10k-een-app-bouwen-kan-dat-roel-peels/"
        >
          <h5 class="is-size-4 has-text-centered-mobile">
            Voor €10k een app bouwen: Kan dat?
          </h5></a
        >
      </div>
      <div class="column has-text-centered">
        <p>28 Oct 2018</p>
        <p>Tip how to build an App</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a
          href="https://www.linkedin.com/pulse/ik-ben-release-train-engineer-en-dit-wat-doe-roel-peels"
        >
          <h5 class="is-size-4 has-text-centered-mobile">
            Ik ben Release Train Engineer, en dit is wat ik doe…
          </h5></a
        >
      </div>
      <div class="column has-text-centered">
        <p>12 Dec 2018</p>
        <p>I am a Release Train Engineer</p>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered mt-6">
        <a
          class="button mm-btn"
          href="https://www.linkedin.com/in/roelpeels/detail/recent-activity/posts/"
        >
          Read more at my LinkedIn</a
        >
      </div>
    </div>
  </div>
</section>

<%- include('layouts/footer'); -%>
</body>

<script src="/javascripts/bundle.js"></script>
</html>
