doctype html
html.has-navbar-fixed-top
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Primary Meta Tags
    title= 'Major Milestones — ' + title
    meta(name='title' content='Major Milestones — Lean-Agile transformation services')
    meta(name='description' content='Major Milestones assists Enterprises with a diverse set of Lean-Agile Transformation services. I am specialized in building next generation teams that optimise all links in your operations related value stream chain.')
    // Open Graph / Facebook
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://majormilestones.nl/')
    meta(property='og:title' content='Major Milestones — Lean-Agile transformation services')
    meta(property='og:description' content='Major Milestones assists Enterprises with a diverse set of Lean-Agile Transformation services. I am specialized in building next generation teams that optimise all links in your operations related value stream chain.')
    meta(property='og:image' content='https://majormilestones.nl/images/intro-bg.jpg')
    // Twitter
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='https://majormilestones.nl/')
    meta(property='twitter:title' content='Major Milestones — Lean-Agile transformation services')
    meta(property='twitter:description' content='Major Milestones assists Enterprises with a diverse set of Lean-Agile Transformation services. I am specialized in building next generation teams that optimise all links in your operations related value stream chain.')
    meta(property='twitter:image' content='https://majormilestones.nl/images/intro-bg.jpg')
    link(rel='stylesheet' href='/stylesheets/majormilestones.css')
  body
    section#home.hero.is-black.is-medium
      .hero-head
        nav.navbar.is-fixed-top
          .container
            .navbar-brand
              a.navbar-item.out(href='/')  Major Milestones B.V.
              span.navbar-burger.burger(data-target='navbarMenuHeroA')
                span
                span
                span
            #navbarMenuHeroA.navbar-menu
              .navbar-end
                if homepage
                  a.navbar-item(href='#home')  Home 
                  a.navbar-item(href='#about')  About 
                  a.navbar-item(href='#services')  Services 
                  a.navbar-item(href='#testimonial')  Testimonials 
                  a.navbar-item(href='#articles')  Publications 
                  a.navbar-item(href='#contact')  Contact
                  a.navbar-item.out(href='/register')  Registration 
                else
                   a.navbar-item.out(href='/')  Homepage
      if homepage
        .hero-body
          .container.has-text-centered
            h1.title.has-shadow Lean-Agile transformation services
            h2.subtitle.mt-4
              | Major Milestones assists Enterprises with a diverse set of
              | Lean-Agile Transformation services.
              br
              | I am specialized in
              |           building next generation teams that optimise all links in your
              |           operations related value stream chain.

      
    block content
    footer#contact.section
      .container
        h3.is-size-3.has-text-weight-semibold.mb-4
          | Contact information
        p.is-size-5 Major Milestones BV
        p.is-size-6.mb-4 Houten, the Netherlands
        .columns
          .column.is-one-fifth-desktop
            ul
              li
                b BTW
                |  NL850238705b01
              li
                b KvK
                |  51951312
          .column.is-one-quarter-desktop
            ul
              li
                b Phone:
                |  030 8007280
              li
                b Email: 
                a(href='mailto:roel.peels@majormilestones.nl') roel.peels@majormilestones.nl
              li
                b Email: 
                a(href='mailto:finance@majormilestones.nl') finance@majormilestones.nl
        hr
        p.has-text-centered
          | © Copyright 
          span#copyright-year
          | , Major Milestones
          |                 BV
          br
          |                 All Rights Reserved
  script(src='/javascripts/bundle.js')
