<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  
<%- include('layouts/header'); -%>

<section class="hero is-black is-medium" id="home">
  <div class="hero-head">
    <nav class="navbar is-fixed-top">
      <div class="container">
        <div class="navbar-brand"><a class="navbar-item out" href="/"> Major Milestones B.V.</a><span
            class="navbar-burger burger" data-target="navbarMenuHeroA"><span></span><span></span><span></span></span>
        </div>
        <div class="navbar-menu" id="navbarMenuHeroA">
          <div class="navbar-end">
              <a class="navbar-item out" href="/"> Homepage </a>  
          </div>
        </div>
      </div>
    </nav>
  </div>
  </section>

<section class="section" id="course">
  <div class="container">
    <div class="text-intro-section">
      <div class="columns">
        <div class="column">
          <h5 class="is-small is-uppercase hashtag"># course</h5>
          <h3 class="is-size-1-tablet is-size-3-mobile has-text-weight-semibold has-text-left mb-4">SAFe Course
            registration</h3>
          <p class="is-size-5-tablet">Signup directly to enroll in my SAFe classroom</p>
        </div>
        <div class="column">
          <div class="is-flex is-flex-direction-column is-align-items-center">
            <div>
            <a href="https://survey.zohopublic.com/zs/vHCNXE" class="button is-large">
              <span class="icon is-medium">
                <img src="/images/onlyonce_icon.jpg" class="image is-4by2">
              </span>
              <span class="ml-2">Fill form using OnlyOnce</span>
              </button>
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
    <form action="https://crm.zoho.com/crm/WebToContactForm" name="WebToContacts306511000017012034" method="POST" onsubmit="javascript:document.charset=&quot;UTF-8&quot;; return checkMandatory306511000017012034()" accept-charset="UTF-8">
      <input type="text" style="display:none;" name="xnQsjsdp" value="e619f697e68aa4defb16a1e6aa9d6bb4df8c3b19bbb4d4ba61fff16c35f64aac"/>
      <input id="zc_gad" type="hidden" name="zc_gad" value=""/>
      <input type="text" style="display:none;" name="xmIwtLD" value="53f059b1ead58a7cc70281c1d6a5f4f63920807380260e9bbcca3f8c50903556"/>
      <input type="text" style="display:none;" name="actionType" value="Q29udGFjdHM="/>
      <input type="text" style="display:none;" name="returnURL" value="https://www.majormilestones.nl"/>
      <div class="columns">
        <div class="column">
          <h3 class="is-size-3">Company</h3>
        </div>
        <div class="column">
          <div class="column">
            <div class="field">
              <label class="label has-text-weight-medium">Company name</label>
              <div class="control">
                <input class="input" id="Account_Name" type="text" name="Account Name" maxlength="100"/>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label has-text-weight-medium">Job Title</label>
              <div class="control">
                <input class="input" id="CONTACTCF5" type="text" name="CONTACTCF5" maxlength="40"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="columns">
        <div class="column">
          <h3 class="is-size-3">Personal</h3>
        </div>
        <div class="column">
          <div class="columns px-3">
            <div class="column">
              <div class="field">
                <label class="label has-text-weight-medium">First name</label>
                <div class="control">
                  <input class="input" id="First_Name" type="text" name="First Name" maxlength="40"/>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label has-text-weight-medium">Last name</label>
                <div class="control">
                  <input class="input" id="Last_Name" type="text" name="Last Name" maxlength="80"/>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label has-text-weight-medium">Email</label>
              <div class="control">
                <input class="input" id="Email" type="text" ftype="email" name="Email" maxlength="100"/>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label has-text-weight-medium">Mobile</label>
              <div class="control">
                <input class="input" id="Mobile" type="text" name="Mobile" maxlength="30"/>
              </div>
            </div>
          </div>
          <div class="column is-hidden">
            <div class="field">
              <label class="label has-text-weight-medium">SAFe cursist</label>
              <div class="control">
                <input class="zcwf_ckbox" id="CONTACTCF241" type="checkbox" name="CONTACTCF241" maxlength="3" checked="true"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="columns">
        <div class="column">
          <h3 class="is-size-3">Invoice</h3>
        </div>
        <div class="column">
          <div class="columns px-3">
            <div class="column">
              <div class="field">
                <label class="label has-text-weight-medium">Street + number</label>
                <div class="control">
                  <input class="input" id="Mailing_Street" type="text" name="Mailing Street" maxlength="250"/>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label has-text-weight-medium">Zip code</label>
                <div class="control">
                  <input class="input" id="Mailing_Zip" type="text" name="Mailing Zip" maxlength="30"/>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label has-text-weight-medium">City</label>
              <div class="control">
                <input class="input" id="Mailing_City" type="text" name="Mailing City" maxlength="100"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="columns">
        <div class="column">
          <h3 class="is-size-3">Other</h3>
        </div>
        <div class="column">
          <div class="column">
            <div class="field">
              <label class="label has-text-weight-medium">
                Personal note (Diet wishes,
                accessibility, other)
              </label>
              <div class="control">
                <textarea class="input" id="Description" name="Description"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4 is-offset-8">
          <input class="formsubmit zcwf_button button is-success" id="formsubmit" type="submit" value="Submit" title="Submit"/>
          <input class="zcwf_button button is-dark" type="reset" name="reset" value="Reset" title="Reset"/>
        </div>
      </div>
    </form>
  </div>
  <script id="form" src="/javascripts/zoho/form.js"></script>
  <script id="wf_anal" src="https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=53f059b1ead58a7cc70281c1d6a5f4f63920807380260e9bbcca3f8c50903556gide619f697e68aa4defb16a1e6aa9d6bb4df8c3b19bbb4d4ba61fff16c35f64aacgid5cf99212d7958dbcd176c761c6ce0a4d7e43e277bdc5d8b9c12010015418942cgid14f4ec16431e0686150daa43f3210513"></script>
</section>


<%- include('layouts/footer'); -%>
</body>

<script src="/javascripts/bundle.js"></script>
</html>
